
@{
    ViewBag.Title = "服务区监控";
}
@section styles{
    
    <style>
        .box {
            display: flex;
        }
        .wy-media-box {
            margin: 10px 0;
            background: #fff;
            padding: 5px 5px;
            border-top: none; 
             border-bottom: none; 
                
         }
        .promotion-label-tit {
        
            font-size:16px;
            color:black;
        }


        .promotion-sku li a.date {
            width:6em;
            color:burlywood;
        }
    </style>    
}
    @*<header>
        <div class="wy-header-icon-back"><span></span></div>       
    </header>*@

    <div class="box">

        <img src="~/Content/images/u182.png" />

    </div>
    <div class="weui-panel__bd">
        <div class="wy-media-box weui-media-box_text">
            <div class="weui-cell nopd weui-cell_access">

                <div class="weui-cell__bd weui-cell_primary"><p>南区旅岛便利店</p></div>
                <span class="weui-cell__time">伶俐服务器</span>
            </div>
         
                <div class="promotion-sku clear">
                    <ul class="box" style="overflow:scroll;">
                        <li><a href="javascript:;" class="date">2018-02-25</a></li>
                        <li><a href="javascript:;">29</a></li>
                        <li><a href="javascript:;">28</a></li>
                        <li><a href="javascript:;">27</a></li>
                        <li><a href="javascript:;">26</a></li>
                    </ul>
                </div>
        
            <div class="wy-media-box2 weui-media-box_text">

                <div class="weui-media-box__hd proinfo-txt-l">
                    <span class="promotion-label-tit">南区</span>
                </div>
                <div class="weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <div class="promotion-sku clear">
                            <ul>
                                <li><a href="javascript:;">25</a></li>
                                <li><a href="javascript:;">30</a></li>
                                <li><a href="javascript:;">34</a></li>
                                <li><a href="javascript:;">40</a></li>
                                <li><a href="javascript:;">45</a></li>
                                <li><a href="javascript:;">50</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="weui-media-box__hd proinfo-txt-l">
                    <span class="promotion-label-tit">北区</span>
                </div>
                <div class="weui-media-box_appmsg">

                    <div class="weui-media-box__bd">
                        <div class="promotion-sku clear">
                            <ul>
                                <li><a href="javascript:;">黑色</a></li>
                                <li><a href="javascript:;">红色</a></li>
                                <li><a href="javascript:;">白色</a></li>
                                <li><a href="javascript:;">蓝色</a></li>
                                <li><a href="javascript:;">橘黄色</a></li>
                                <li><a href="javascript:;">绿色</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


